@import url('https://fonts.googleapis.com/css?family=Rubik');

html {
  font-family: 'Rubik', sans-serif;
  max-width:1100px;
	margin: 0 auto;
  position: relative;
}
@media (max-width: 400px){
  .jumbotron{
    color: black;
  }
}
body {
  background-color: orange;
}
ul.socials li {
  top:0;
  right: 0;
  display: inline;
  float: right;
}
.fa {
    color: white;
    padding: 5px;
    font-size: 40px;
    text-align: center;
}
.fa:hover {
    opacity: 0.85;
    color: black;
}
.jumbotron {
  background-image: url(../img/main-foto-bg.jpg);
  background-size: cover;
  background-position: center;
}
footer {

  bottom: 0;
  left: 0;
  height: 70px;
  background-color: black;
  color: white;
  width: 100%;
}
